@media (max-width: 724px) {
  .content-party {
    width: 50vw;
  }
}
@media (min-width: 724px) {
  .content-party {
    width: 50vw;
  }
}
listItem:hover {
  background-color: "#444";
  color: "tomato";
  opacity: 0.8;
}
listItem:focus {
  background-color: "#444";
  color: "tomato";
  opacity: 1;
}
